* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0 auto;
  padding: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.section-title {
  display: none;
}
/* ==========HEADER========== */
.header {
  margin: 0;
  padding: 0;
  background-color: #db7093;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
}
.header-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.nav__item {
  list-style: none;
}
.nav__item a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 34px;
  color: #ffffff;
}
.nav__item a:visited {
  font-weight: bold;
}
.nav__item a:hover {
  font-weight: bold;
}
.nav__item a:active {
  font-weight: bold;
}
.header__search-field {
  margin-right: 16px;
}
.header-wrapper__form .field.field_outlined:first-child {
  margin-left: 0;
}
/* Форма */
.field {
  background-color: transparent;
  border-radius: 8px;
  height: 34px;
  max-width: 210px;
  padding: 0 12px;
  font-size: 16px;
}
.field::placeholder {
  color: inherit;
  font-family: inherit;
}
.field_outlined {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: #ffffff;
}
/* -------------- */

/* Кнопка */
.button {
  background-color: transparent;
  padding: 0 12px;
  border-radius: 8px;
  min-height: 34px;
  font-size: 16px;
  line-height: 34px;
  border: 2px solid #db7093;
  color: #db7093;
}
.button_filled {
  background-color: white;
}
/* -------------- */

/* ================= */

/* =========MAIN======== */
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #4a4a4a;
}
.main-title {
  margin: 43px 0 39px 0;
  padding: 0;
}
.main__blocks-wrapper {
  margin: 0 90px;
}
.blocks-wrapper {
  display: flex;
  flex-flow: column wrap;
}

/* Блок 1 */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}
.content-wrapper__image_gap-right {
  margin-right: 45px;
}
.subtitle {
  margin-top: 20px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #4a4a4a;
}
.text {
  margin-top: 12px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #717171;
}
.content-block__button {
  margin-top: 12px;
}
.content-block__button_button-gap {
  margin-left: 0px;
  margin-right: 14px;
}
.link {
  font-size: 16px;
  line-height: 32px;
  color: #db7093;
}
.link:hover {
  text-decoration: none;
  color: lightblue;
  font-size: 17px;
}
/* =============== */

/* Блок 2 */
.content-wrapper_reverse-row {
  display: flex;
  flex-flow: row-reverse;
  text-align: right;
  justify-content: space-between;
}
.content-wrapper__image_gap-left {
  margin-left: 45px;
}
/* =============== */
/* Блок 3 */
.content-wrapper:last-child {
  margin-bottom: 0;
}
/* =============== */
/* КНОПКА ПОСЛЕ МЕЙН И ФОРМЫ */
.button-block {
  padding: 0;
  display: flex;
  justify-content: center;
}
.main_button-block {
  margin-top: 29px;
}
.section-form_button-block {
  margin-top: 28px;
}
.button-block__button-link {
  margin: 0;
  background-color: #db7093;
  padding: 0 27px;
  border-radius: 8px;
  min-height: 34px;
  font-size: 16px;
  line-height: 34px;
  border: 2px solid #db7093;
  color: #ffffff;
  box-shadow: 0 10px 27px -4px #db7093;
}
/* ====================== */
/* ====================== */

/* ФОРМЫ */
.form-title {
  margin-top: 89.35px;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}
.form-wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.form {
  background-color: transparent;
  border-radius: 8px;
  height: 34px;
  min-width: 400px;
  padding: 0 12px;
  font-size: 16px;
  color: #717171;
}
.form::placeholder {
  color: inherit;
  font-family: inherit;
}
.form__style {
  background: #f3f3f3;
  border: 0;
}
.form-wrapper_top-gap {
  margin-top: 28px;
}
.form__textarea {
  min-height: 113px;
  resize: none;
}
/* ================ */
/* ФУТЕР */
.footer-wrapper {
  margin-top: 68.35px;
  padding-bottom: 26px;
  background: #f3f3f3;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-items__copyright {
  font-size: 14px;
  line-height: 32px;
  color: #db7093;
}
.footer-items__logo {
  margin-right: 30px;
}
.nav__item_footer a {
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  color: #4a4a4a;
}
.footer-items .nav a:visited {
  font-weight: bold;
  color: #4a4a4a;
}
.footer-items .nav a:hover {
  font-weight: bold;
  color: #4a4a4a;
}
.footer-items .nav a:active {
  font-weight: bold;
  color: #4a4a4a;
}
.footer-button {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ================= */
